
//$cursive: "Walter Turncoat", cursive;
$sans-serif: "TS3 Text Sans", sans-serif;
$serif: "GH Guardian Headline", serif;
$cursive : 'Caveat', cursive;

$h1-size:1.5em;
$h1-lineheight:2em;

$p-size:1.2em;
$p-lineheight:1.5em;

