/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .CTA{
        padding: 9px 0;
    }
    }

/* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
    /* Styles */
    }
    

/* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    .CTA{
        padding: 9px 0;
    }
    #Mobile {
       
        .App-footer{
            margin-bottom: 20px;
            .btn {
                font-size: 1.2em;
            }
            h2 {
                font-size: 1.2em;
                padding: 0 2%;
                margin:0;
            }
        }
    }
}