/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    
    /* Styles */

    #Browser {
      
        .section_0 {
            .Copy { margin: 30px 0px 0px 79px;}
            .Additional{
                img:nth-child(2){bottom: 75px;}
                img:nth-child(1){bottom: 145px;}
            }
        }
        .section_1{
            .Copy { margin: 0px 25px 0px 15px; }

            .Hero .Faded_Gallery{
                width: 465px;
                height: 620px;   
            }
            .Additional img:nth-child(1){margin-top: -145px;}
            .Trinket:nth-child(1) { bottom: 60px; left: 55px;}
        }
        .section_2 {
            .Hero .Faded_Gallery{
                width: 465px;
                height: 620px;  
                margin:0px 0 0 -20px; 
            }
            .Copy {
                padding: 0px 0 0 10px;
            } 
            .Additional img:nth-child(1){ margin-top: -110px; }
            .Trinket:nth-child(1){ bottom: 65px;   right:0;  width: 54%; }
        }
        .section_3{ 
            
            .Copy {  margin: 0px 0 20px 10px; }
            .Additional img:nth-child(1){ margin-top: 0; }

        }

        .section_4{
            .Hero img{ margin: -135px 0 0 41px; width: 385px; height: 508px;}
            .Copy { margin: 10px 40px 0 0;}
        } 
    }

}
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    

    /* iPads (portrait) ----------- */
    @media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation : portrait) {
    /* Styles */
    
    #Browser {
        .App-header h2{ margin:40px 0 -25px -30px}

        .section_0 {
            .Copy { margin: 30px 0px 0px 0px;}
            .Additional{
                height: 355px;
                margin-bottom: 40px;

                img:nth-child(2){bottom: 5px;}
                img:nth-child(1){bottom: 45px;}
            }
            .Faded_Gallery {
                width: 340px;
                height: 454px;
                margin: -136px 0 0 -5px;
            }
            .Trinket:nth-child(2) {
                bottom: 25px;
                left: 35%;
                width: 27%;
            }
        }
        .section_1{
            padding-bottom:25px;
            .Copy { margin: 0px; }

            .Hero .Faded_Gallery{width: 325px;  height: 430px; }
            .Additional img:nth-child(1){margin-top: -5px;}
            .Trinket:nth-child(1) {     bottom: 105px; left: 36px;}
        }
        .section_2 {
            .Hero .Faded_Gallery{width: 325px;  height: 430px;  margin:80px 0 0 0; }
            .Copy { padding: 0px;  } 
            .Additional img:nth-child(1){ margin-top: -10px; }
            .Trinket:nth-child(1){ bottom: 65px; }
        }
        .section_3{ 
            .Hero .Faded_Gallery{width: 325px;  height: 430px;  margin:80px 0 0 0; }
            .Copy {  margin:0px; }
            .Additional img:nth-child(1){ margin-top: 0; }

        }

        .section_4{
            .Hero img{ margin: -135px 0 0 41px; width: 310px;height: auto;}
            .Copy { margin: 0;}
            padding-bottom: 0;
        } 
    }
        .App-footer{
            h2{
                font-size: 2em;
            }
            .btn{ font-size: 2em;}
        }
        
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }