.App-footer{

    background-color: #53677e;
    background-image: URL("/assets/Footer.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin: 40px 0;
    text-align: center;
    padding:80px 40px;
    

    h2{
        color: white;
        font-weight: 400;
        font-size: 2.6em;
        letter-spacing: 1px;
    }

    .btn{
        background-color: #7090b5;
        color: white;
        font-weight: 400;
        font-size: 2.3em;
        letter-spacing: 0px;
        margin: 20px 0 ;
        font-family: $serif;
        padding: 5px 40px;
    }
}

.SponsorShip{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 0 40px 0 ;
    span{
        margin: 0 10px;
    }
}