#Browser{
    .App-header{
        margin-bottom: -30px;
        h2{
            text-align: center;
            font-size: 1.2em;
            margin: 40px 0 -25px -70px;
            font-weight: 100;
        }
        img{
            width: 100%;
        }
    }
}