.section_0{
    // Hero
    .Copy{
        margin: 0 0px 10px 180px;
        p{ }    
    }
    /************************************** */
    // Images and Media
            .Hero{
                img{
                    width: 430px;
                    height: auto;
                    margin-top: -164px;
                }
            }

            .Additional{
                height: 590px;
            
                #Asset_Left{
                    img{
                        width: 61%;
                        float: left;
                        position: absolute;
                        margin-left: 10px;
                        left: 20px;
                        bottom: 60px;
                    }
                }
                #Asset_Right{
                    width:40%;
                    -webkit-transform: rotate(2deg); 
                    position: absolute;
                    bottom: 0;
                    right: 40px;
                }
            }
        // Trinkets

            .Trinket:nth-child(1){
                top: 40px;
                right: 5px;
                width: 27%;
            }
            .Trinket:nth-child(2){
                bottom: 25px;
                left: 400px;
                width: 27%;
            }
}