.section_2 {
  padding-bottom: 55px; }
  .section_2 .Copy {
    padding: 10px 0 0 50px; }
  .section_2 h2.cursive {
    margin: -50px 0 50px 50px; }
  .section_2 .Hero img {
    margin: 0 0 0 20px;
    width: 500px;
    height: auto;
    z-index: 99;
    position: relative; }
  .section_2 .Additional #Asset_Left {
    -webkit-transform: rotate(-2deg);
    float: left;
    width: 63%;
    margin-top: -90px;
    z-index: 999;
    position: relative;
    margin-left: 12px; }
    .section_2 .Additional #Asset_Left .Faded_Gallery {
      width: 95%;
      height: auto; }
  .section_2 .Trinket:nth-child(1) {
    bottom: -100px;
    right: 0px;
    width: 45%;
    z-index: 999; }
