.section_4 {
  padding-bottom: 65px; }
  .section_4 .Copy {
    margin: 20px 100px 0 0; }
  .section_4 h2.cursive {
    position: absolute;
    top: -585px;
    width: 40%;
    left: 35px; }
  .section_4 .Additional {
    display: none; }
  .section_4 .Hero img {
    margin: -160px 0 0 120px;
    width: 385px;
    height: auto;
    z-index: 99;
    position: relative;
    -webkit-transform: rotate(-3deg); }
  .section_4 .Trinket:nth-child(1) {
    bottom: 0px;
    right: 29px;
    width: 38%;
    z-index: 999; }
