.section_1{
    padding-bottom: 55px;
   
    .Copy{
        margin:20px 40px 0 0px;
        p{ }    
    }

    // Media and Images
    #hero{
        img{
            -webkit-transform: rotate(-2deg); 
            margin: 0 0 0 20px;
            width: 500px;
            height: auto;
            z-index: 99;
            position: relative;
        }
    }
    .Additional{
        height: 220px;
        
        #Asset_Right{
            width: 55%;
            position: absolute;
            bottom: 0;
            right: 0;
            .Faded_Gallery{
                width: 95%;
                height: auto;
            }
        }
    }
    
    // Trinkets
    .Trinket:nth-child(1){
        bottom: 40px;
        left: 105px;
        width: 39%;
        z-index: 999;
    }


}