.section_1{
    padding-bottom: 55px;
    .Hero{
        .Faded_Gallery{
            -webkit-transform: rotate(-2deg); 
            margin: 0 0 0 20px;
            width: 500px;
            height: 667px;
            z-index: 99;
            position: relative;
        }
    }


    .Copy{
        margin:20px 40px 0 0px;
        p{ }    
    }
    
    // Trinkets
    .Trinket:nth-child(1){
        bottom: 40px;
        left: 105px;
        width: 39%;
        z-index: 999;
    }

    .Additional{
        img:nth-child(1){
            float: right;
            width: 55%;
            margin-top: -230px;
            margin-right: 10px;
            z-index: 0;
            position: relative;
        }
    }
}