@at-root {
  @font-face {
    font-display: swap;
    font-family: "GH Guardian Headline";
    font-weight: bold;
    src: url("#{$cdn}fonts/GHGuardianHeadline-Bold.woff2") format("woff2"),
         url("#{$cdn}fonts/GHGuardianHeadline-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "TS3 Text Sans";
    src: url("#{$cdn}fonts/TS3TextSans.woff2") format("woff2"),
         url("#{$cdn}fonts/TS3TextSans.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "TS3 Text Sans";
    font-weight: bold;
    src: url("#{$cdn}fonts/TS3TextSans-Bold.woff2") format("woff2"),
         url("#{$cdn}fonts/TS3TextSans-Bold.woff") format("woff");
  }

  @import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);
}
