h1{
    font-family: $cursive; 
}
h2{
    font-family:$Header;
}
h3{}

p{
    font-size: $p-size;
    line-height: $p-lineheight;
    font-family:$Regular;
    padding: 2px 15px;
    text-rendering:optimizeLegibility;
}

.cursive{ 
    font-family: $cursive; 
    font-size: 3em;
    line-height: 1em;
    margin:-20px 0 20px 80px;
        /* Safari */
        -webkit-transform: rotate(-3deg);
    /* Firefox */
        -moz-transform: rotate(-3deg);
    /* IE */
        -ms-transform: rotate(-3deg);
    /* Opera */
        -o-transform: rotate(-3deg);
    /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
.normal{}
.bold{ font-weight: 600; }