h1{
    font-family: $cursive; 
}
h2{
    font-family:$serif;
}
h3{}

p{
    font-size: 1em;
    line-height: 1.8em;
    font-family:$serif;
    padding: 2px 15px;
}

.cursive{ font-family: $cursive; 
    font-size: 1.4em;
    line-height: 1.3em;
}
.normal{}
.bold{ font-weight: 600; }


.blue{color:$featured_color;}
.angle{
    /* Safari */
        -webkit-transform: rotate(-10deg);
    /* Firefox */
        -moz-transform: rotate(-10deg);
    /* IE */
        -ms-transform: rotate(-10deg);
    /* Opera */
        -o-transform: rotate(-10deg);
    /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

        z-index: 99;
        position: relative;
        font-size: 1.8em;
        line-height: 1em;
        margin-bottom: -30px;
        margin-top: 30px;
}