// Import Variables

@import "./css/variables/_variables.scss";
  // Global

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

.App {
  background-color: $bg_color;
  color:$font_color;
  overflow: hidden;

  @import "./css/_typography.scss";
  @import "./css/_components.scss";
 
  
}

.LoadingScreen{
  text-align: center;
  padding:10%;
  background-color: $bg_color;
}

// Sturcture
 @import "./css/Sections/_header.scss";
 @import "./css/Sections/_footer.scss";

 // Browser Specific
  @import "./css/Sections/_sections_browser.scss"; 

// Mobile Specific
  @import "./css/Sections/_sections_mobile.scss"; 
// Responsive
@import "./css/_responsive.scss";